@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-base: #f7fffe;
    --color-base1: #cfd6d5;
    --color-base2: #a5acab;
    --color-base3: #797e7d;
    --color-baseText: #000000;
    --color-primary: rgb(214, 25, 97);
    --color-secondary: rgb(0, 59, 61);
    --color-accent: rgb(255, 251, 14);
    --color-baseShadow: rgb(82, 82, 82);
  }
  .dark {
    --color-base: #131414;
    --color-base1: rgb(33, 36, 35);
    --color-base2: rgb(42, 46, 45);
    --color-base3: rgb(80, 90, 87);
    --color-baseText: #ffffff;
    --color-primary: rgb(214, 25, 97);
    --color-secondary: rgb(194, 230, 231);
    --color-accent: rgb(255, 251, 14);
    --color-baseShadow: rgb(0, 0, 0);
  }
}
