@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-base: #f7fffe;
    --color-base1: #cfd6d5;
    --color-base2: #a5acab;
    --color-base3: #797e7d;
    --color-baseText: #000000;
    --color-primary: rgb(214, 25, 97);
    --color-secondary: rgb(0, 59, 61);
    --color-accent: rgb(255, 251, 14);
    --color-baseShadow: rgb(82, 82, 82);
  }
}
